.date-time {
    margin: 10px;
}

#balance {
    margin-top: 20px;
}

.ledger-entry {
    margin-bottom: 5px;
}

@media print {
    /* Define styles for printing */
    body {
        font-size: 12pt;
        /* Additional print-specific styles */
    }
    
    /* Hide elements not needed in the print version */
    .no-print {
        display: none;
    }
}

body {
    font-family: 'Georgia', serif;
    margin: 20px auto;
    max-width: 800px;
    background-color: #f8f8f8;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}

h1 {
    color: #333;
    text-align: center;
}

.side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.date-time {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    padding: 15px 25px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

.delete-button {
    color: #e74c3c;
    cursor: pointer;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.delete-button:hover {
    color: #c0392b;
}

#balance {
    margin-top: 20px;
}

.print-button {
    padding: 15px 25px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.print-button:hover {
    background-color: #2980b9;
}
