body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

.side-by-side {
    display: flex;
}

.date-time {
    margin: 10px;
}

#balance {
    margin-top: 20px;
}

.ledger-entry {
    margin-bottom: 5px;
}

.delete-button {
    margin-left: 10px;
    cursor: pointer;
}